langchain>=0.1.0
langchain-community>=0.0.10
langchain-text-splitters>=0.0.1
langchain-huggingface>=0.0.2
langchain-groq>=0.1.0
langchain-openai>=0.0.2
faiss-cpu>=1.7.4
pypdf>=3.15.1
pandas>=2.0.0
openpyxl>=3.1.2
beautifulsoup4>=4.12.2
requests>=2.31.0
sentence-transformers>=2.2.2
streamlit>=1.27.0
streamlit-webrtc>=0.47.1
gtts>=2.3.2
SpeechRecognition>=3.10.0
pydub>=0.25.1
PyAudio==0.2.13